<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analysis</title>
</head>
<body>
    <h1>Analysis Page</h1>

    <form method="POST" action="">
        {{ form.hidden_tag() }}
        {{ form.screener }} 
        {{ form.exchange }}
        {{ form.symbol }}
        {{ form.interval }}
        {{ form.submit }}
    </form>

    <a href="{{url_for('info')}}">Need to Know what you need? Info Here</a><br>
</body>
</html>